<script type="text/javascript" src="../scripts/script.js"></script>
<div  data-ng-controller='buddyListController'>
    <div class="buddy-list">
        <a href="#/add-user" type="button" class="btn btn-primary add-btn">Add</a>
        <ul class="list-group user-list" >
            <li class="list-group-item" data-ng-repeat="buddy in buddyList | orderBy:'priority':false">
                <div onclick="toggleDetailsDisplay( this )">

                    <div><img src="./images/{{buddy.image}}">{{buddy.userName}}</div>
                    <div>{{buddy.firstName}} {{buddy.lastName}}</div>
                    <div>{{buddy.status}}</div>
                    <div  ng-show="buddy.status==='Offline'">{{ buddy.lastSignIn}}</div>
                    <div></div>
                    <div class="hidden">
                        <div>{{buddy.email}}</div>
                        <div>{{buddy.birthday}}</div>
                        <div>{{buddy.bio}}</div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-click="prioritize( $index )">Prioritize</button>
                <button type="button" class="btn btn-danger" ng-click="deleteBuddy( $index )">Delete</button>
            </li>
        </ul>
    </div>
</div>
